/* Index Page Stylings */

.logo-farm {
  height: 4rem;
}

.home-hero {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/mbale-farm.webp) no-repeat center center;
  background-size: cover;
}

.about-section {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../images/farmer-banana.jpeg) no-repeat center center;
  background-size: cover;
}

.blog-image {
  width: 100%;
  /* This will make the image take the full width of its container */
  height: 300px;
  /* Adjust the height as needed */
  object-fit: cover;
  /* This will make sure the image covers the area without stretching */
  border-radius: 10px;
}

.main-blog-image {
  height: 300px;
  /* Adjust the height as needed */
  object-fit: cover;
}

.truncate-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 3rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .main-blog-image {
    width: 100% !important;
    height: auto;
  }

  .agri-image{
    width: 95%;
  }
}
